{% extends 'baseVisiteur.html.twig' %}

{% block title %}OneUrban | Liste des Tourismes{% endblock %}

{% block body %}

    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">| Liste des Tourismes</h1>
        <button class="btn btn-info btn-sm" id="meteoBtn">Afficher la température</button>
        <br><br><br>
        <strong>
            <p id="tempResult"></p>
        </strong>
    </div>
    <div class="row g-4">
        {% for tourisme in tourismes %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="#">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <br>
                        <span><strong>Nom: </strong>{{ tourisme.nom }} </span>
                        <br>
                        <span><strong>Localisation: </strong>{{ tourisme.localisation}}</span>
                        <br>
                        <span><strong>Type: </strong>{{ tourisme.type }}</span>
                        <br>
                        <span>
                            <strong>Rating: </strong>
                            {% for i in 1..5 %}
                                {% if i <= tourisme.nbEtoiles %}
                                    <i class="fa fa-star"></i>  <!-- Full star -->
                                {% else %}
                                    <i class="fa fa-star-o"></i>  <!-- Empty star -->
                                {% endif %}
                            {% endfor %}
                        </span>
                        <a style="margin-left:15px;" class="btn btn-dark py-3 px-4" href="{{ path('app_reclamation_new_front', {'id': tourisme.id}) }}">Passez une Réclamation</a>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div style="margin-left:500px;" class="pagination">
        {% do tourismes.setPageRange(8) %}
        {{knp_pagination_render(tourismes, 'pagination.html.twig')}}
        <br><br><br><br><br>
    </div>



<script>
    document.getElementById("meteoBtn").addEventListener("click", function() {
        fetch('/weather')
            .then(response => response.json())
            .then(data => {
                document.getElementById("tempResult").innerText = "La température est : " + data.temperature + "°C";
            });
    });
</script>

{% endblock %}